body {
    background-color: #efefef;
    text-align: center;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

canvas {
    margin-top: 35px;
    border: 4px solid #333;
    padding: 25px 3px 35px 3px;
    border-radius: 15px;
    background-color: #111;
}